html                                           { font-size:$html_base_font_size; }
body                                           { font-family:$font_default; font-size:$font_size; font-weight:$font_default_weight; color:$default_text; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.contentwrap                                   { line-height:$font_line_height; }
.wrap                                          { min-height:100%;
  &:after                                      { display:block; content:""; }
}
p                                              { margin-bottom:2rem; line-height:1; font-weight:$regular; }
b, strong                                      { font-weight:$semibold; }
ul                                             { margin:0 0 1rem; padding:0 2.5rem; }
li                                             { }

// HEADINGS
h1                                             { font-family:$font_feature,sans-serif; margin-top:2rem; font-size:4.5rem; font-weight:$font_feature_weight; text-transform:uppercase;
	strong                                       { font-weight:$extrabold; }
}
h2                                             { font-family:$font_feature,sans-serif; margin:2rem 0 0.5rem; padding:0; font-size:3.5rem; font-weight:$light; color:$primary_colour; text-transform:uppercase; }
h3                                             { font-family:$font_default; font-size:1.8rem; font-weight:$medium; 
	.home &                                      { font-family:$font_feature,sans-serif; font-size:4rem; font-weight:$light; text-transform:lowercase; }
}

// LINKS
a                                              { color:$primary_colour; text-decoration:underline;
  &:hover, &:focus                             { color:$primary_colour; text-decoration:none; }
}

svg                                            { fill:currentColor; }

.offscreen { position:relative; right:-999rem; }