// Icon Font
@font-face                                   { font-family:$font_icons;
  																						 src:url('assets/fonts/p4-set01.eot?7xf587'); src:url('assets/fonts/p4-set01.eot?7xf587#iefix') format('embedded-opentype'), url('assets/fonts/p4-set01.ttf?7xf587') format('truetype'), url('assets/fonts/p4-set01.woff?7xf587') format('woff'), url('assets/fonts/p4-set01.svg?7xf587#p4-set01') format('svg');
  																						 font-weight:$regular;
  																						 font-style:normal;
}
[class^="p4-"], [class*=" p4-"]              { font-family:$font_icons !important; speak:none; font-style:normal; font-weight:normal; font-variant:normal; text-transform:none; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
.p4-arrow-down-bold:before                   { content:"\33"; }
.p4-arrow-down-light:before                  { content:"\2d"; }
.p4-arrow-down:before                        { content:"\37"; }
.p4-arrow-left-bold:before                   { content:"\34"; }
.p4-arrow-left-light:before                  { content:"\3d"; }
.p4-arrow-left:before                        { content:"\38"; }
.p4-arrow-right-bold:before                  { content:"\32"; }
.p4-arrow-right-light:before                 { content:"\30"; }
.p4-arrow-right:before                       { content:"\36"; }
.p4-arrow-up-bold:before                     { content:"\31"; }
.p4-arrow-up-light:before                    { content:"\39"; }
.p4-arrow-up:before                          { content:"\35"; }
.p4-caret-down-light:before                  { content:"\53"; }
.p4-caret-down:before                        { content:"\4f"; }
.p4-caret-left-light:before                  { content:"\54"; }
.p4-caret-left:before                        { content:"\50"; }
.p4-caret-right-light:before                 { content:"\52"; }
.p4-caret-right:before                       { content:"\4e"; }
.p4-caret-up-light:before                    { content:"\51"; }
.p4-caret-up:before                          { content:"\4d"; }
.p4-cog-bold:before                          { content:"\77"; }
.p4-cog-light:before                         { content:"\79"; }
.p4-cog:before                               { content:"\78"; }
.p4-envelope-1-bold:before                   { content:"\68"; }
.p4-envelope-1-light:before                  { content:"\6a"; }
.p4-envelope-1:before                        { content:"\69"; }
.p4-envelope-2-bold:before                   { content:"\6b"; }
.p4-envelope-2-light:before                  { content:"\6d"; }
.p4-envelope-2:before                        { content:"\6c"; }
.p4-facebook:before                          { content:"\61"; }
.p4-instagram:before                         { content:"\66"; }
.p4-linked-in:before                         { content:"\64"; }
.p4-map-pin-bold:before                      { content:"\6e"; }
.p4-map-pin-light:before                     { content:"\70"; }
.p4-map-pin:before                           { content:"\6f"; }
.p4-phone-bold:before                        { content:"\74"; }
.p4-phone-light:before                       { content:"\76"; }
.p4-phone:before                             { content:"\75"; }
.p4-pinterest:before                         { content:"\67"; }
.p4-search-1:before                          { content:"\71"; }
.p4-search-2:before                          { content:"\72"; }
.p4-search-3:before                          { content:"\73"; }
.p4-snapchat:before                          { content:"\65"; }
.p4-tcaret-down-bold:before                  { content:"\43"; }
.p4-tcaret-down-light:before                 { content:"\4b"; }
.p4-tcaret-down:before                       { content:"\47"; }
.p4-tcaret-left-bold:before                  { content:"\44"; }
.p4-tcaret-left-light:before                 { content:"\4c"; }
.p4-tcaret-left:before                       { content:"\48"; }
.p4-tcaret-right-bold:before                 { content:"\42"; }
.p4-tcaret-right-light:before                { content:"\4a"; }
.p4-tcaret-right:before                      { content:"\46"; }
.p4-tcaret-up-bold:before                    { content:"\41"; }
.p4-tcaret-up-light:before                   { content:"\49"; }
.p4-tcaret-up:before                         { content:"\45"; }
.p4-twitter:before                           { content:"\62"; }
.p4-youtube:before                           { content:"\63"; }

