/*
  Theme Name:   GenYGolf
  Author:       Smith Brothers Media
  Version:      0.0.1
  Author URI:   http://smithbrothersmedia.com.au
  Description:  This theme is developed by Smith Brothers Media.
*/

//Font Weight
$light:                                        300;
$regular:                                      400;
$medium:                                       500;
$semibold:                                     600;
$bold:                                         700;
$extrabold:                                    800;
$black:                                        900;

//Base font
$html_base_font_size:                          10px;

$font_default:                                 'Open Sans', sans-serif;
$font_default_weight:                          $light;

$font_feature:                                 $font_default;
$font_feature_weight:                          $light;

$font_size:                                    16px;
$font_line_height:                             1.25;

$font_icons:                                   "p4-set01";

// Colours
$white:                                        #FFFFFF;
$white_light:                                  #E7E7E7;
$white_dark:                                   #CCCCCC;
$grey_light:                                   #999999;
$grey_medium:                                  #767676;
$grey:                                         #666666;
$grey_dark:                                    #333333;
$black:                                        #000000;
$transparent:                                  transparent;

$red-light:                                    #E33836;
$red:                                          #ED1C24;
$green_light:                                  #D9EEB5;
$green:                                        #BCCF0D; //A5CF4D; 
$green_dark:                                   #628022;

// Variables
$primary_colour:                               $white_dark;
$secondary_colour:                             $white;
$tertiary_colour:                              $grey;
$quaternary_colour:                            $grey_dark;

$highlight_colour:                             $red-light;
$grey_a11y:                                    $grey_medium;

$default_text:                                 $primary_colour;
$default_bg:                                   $white;

$transition:                                   0.3s;
$transition_carousel:                          0.5s;
$content_separator:                            2px solid rgba($primary_colour,0.2);
$input_border:                                 2px solid rgba($primary_colour,0.4);


// General
$burger_colour:                                $secondary_colour;
$link_colour:                                  $secondary_colour;

// Buttons
$btn_default_color:                            $secondary_colour;
$btn_default_bg:                               $primary_colour;
$btn_default_border:                           $secondary_colour;
$btn_default_color_hv:                         $primary_colour;
$btn_default_bg_hv:                            $secondary_colour;
$btn_default_border_hv:                        $primary_colour;

$btn_primary_color:                            $secondary_colour;
$btn_primary_bg:                               $primary_colour;
$btn_primary_border:                           $primary_colour;
$btn_primary_color_hv:                         $primary_colour;
$btn_primary_bg_hv:                            $secondary_colour;
$btn_primary_border_hv:                        $primary_colour;

$btn_secondary_color:                          $primary_colour;
$btn_secondary_bg:                             $secondary_colour;
$btn_secondary_border:                         $primary_colour;
$btn_secondary_color_hv:                       $secondary_colour;
$btn_secondary_bg_hv:                          $primary_colour;
$btn_secondary_border_hv:                      $secondary_colour;

$btn_tertiary_color:                           $primary_colour;
$btn_tertiary_bg:                              $secondary_colour;
$btn_tertiary_border:                          $primary_colour;
$btn_tertiary_color_hv:                        $secondary_colour;
$btn_tertiary_bg_hv:                           $primary_colour;
$btn_tertiary_border_hv:                       $primary_colour;


// Forms
$form_border_colour:                           $grey-medium;





//Responsive Breakpoint
$br-xs:                                        320px;
$br-sm-md:                                     480px;
$br-sm:                                        480px;
$br-md:                                        768px;
$br-lg:                                        993px;
$br-xl:                                        1200px;

$br-mnu:																			 $br-md;

//Vieo Grid Block height
$GridBlockHeight:                              350px;





