/* FOOTER
*/
footer                                         { padding:3rem 0; border-top:1.5rem solid $secondary_colour; font-weight:400; color:$secondary_colour; background:$primary_colour; text-align:center;
	a                                            { color:$secondary_colour; text-decoration:none;
		&:hover, &:focus                           { color:$highlight_colour; }
	}
	.footer-brand                                { display:block; margin-bottom:1rem; padding:1rem 0; color:$secondary_colour;
    .sbm0                                      { fill:$secondary_colour; transition:all $transition ease; }
    &:hover .sbm0, &:focus .sbm0               { fill:$highlight_colour; transition:all $transition ease; }
    svg                                        { width:83px; height:40px; }
  }
  .back-top                                    { text-transform:uppercase;
    svg                                        { width:5rem; }
    .sbm-1                                     { fill:$secondary_colour; transition:all $transition ease; }
    &:hover .sbm-1, &:focus .sbm-1             { fill:$highlight_colour; transition:all $transition ease; }
    .sbm-2                                     { fill:#4b4b4d; transition:all $transition ease; }
    &:hover .sbm-2, &:focus .sbm-2             { fill:$secondary_colour; transition:all $transition ease; }
    .sbm-3                                     { fill:none; stroke:#4b4b4d; stroke-width:2px; transition:all $transition ease; }
    &:hover .sbm-3, &:focus .sbm-3             { stroke:$secondary_colour; }
  }
  .nav-col                                     {

  }
  .oz-made                                     { margin-top:2rem;
    svg                                        { width:8rem; }
  }
  .social                                      { font-size:3.7rem;
    a                                          { display:inline-block; margin:0 1rem; color:$secondary_colour; text-decoration:none;
      &.p4-facebook                            { margin:0 0.5rem; }
      &:hover                                  { color:$highlight_colour; }
    }
  }
  .search-block                                { text-align:center; }

  @media screen and (min-width:$br-lg)         { padding:5rem 0 4rem; font-size:0.9em; text-align:left;
    .footer-brand                              { margin-bottom:0; }
	  .social                                    { margin-top:2rem; font-size:2.2rem; }
    .nav-col                                   { max-width:12.6666%; }
    .oz-made                                   { max-width:20.6666%; margin-top:0; }
  }
}
