/* FORMS
*/

// Gravity Form with class : sbmForm
.sbmForm_wrapper.gform_wrapper                 {
  .gform_heading                               { margin-bottom:0; }
  .gform_title                                 { margin-bottom:1rem; font-size:3.5rem; font-weight:$semibold; text-align:center; text-transform:uppercase; }
  .gform_description                           { margin-bottom:0; font-size:1.4rem; color:$grey_a11y; text-align:center; }
  .top_label                                   {
    .gfield_label                              { font-weight:$regular; }
    .gfield.select                             { padding:0 1.5rem 0.7rem 0; border:$input_border;
      select                                   { border:0; background-color:transparent; }
    }
    .gfield.hide-label                         { 
      .gfield_label                            { position:absolute; width:1px; height:1px; overflow:hidden; } // Hides label, not removes
    }
  }
  ul.gform_fields                              {
    input                                      { padding-left:0.8rem !important; border:$input_border; }
    textarea                                   { margin-top:0; height:22rem; border:$input_border; }
  }
  .gform_footer                                { margin:0;
  	input[type=submit]                         { @extend .btn; @extend .btn-primary; }
  }

  @media screen and (min-width:$br-lg)         {
    .top_label                                 {
      .gfield.select                           { margin-right:1.6rem; }
      .gfield.sbm-6                            { display:inline-block; width:50%; }
    }
    &.extendSubmit_wrapper                     {
      .gform_footer                            { padding:4rem 0; background-color:$primary_colour; text-align:center;
        input[type=submit]                     { color:$primary_colour; background-color:$secondary_colour;
          &:hover, &:focus                     { color:$secondary_colour; background-color:$primary_colour; border:1px solid $secondary_colour; }
        }
      }
    }
  }

}
.hideLabels_wrapper.gform_wrapper              {
  .top_label                                   {
    .gfield_label                              { position:absolute; width:1px; height:1px; overflow:hidden; } // Hides label, not removes
  }
}
//for complex field groups (Name, Address etc.)
.hideLabel                                     {
  >label                                        { position:absolute; width:1px; height:1px; overflow:hidden; }
}

//style sub labels like top labels (useful if hiding top label in complex fields with sub labels used as replacement)
.styleSubLabels                                { 
  .ginput_complex                              { 
    span                                       {
      label                                    { font-size: $font_size !important; } 
    }
  }
}

// Quote Form
.gform_wrapper                                 {
  .category-radio                              { 
    .ginput_container                          { margin-top:0.5rem !important;
      .gfield_radio                            {
        li                                     { display:inline-block;
          input[type=radio]                    { margin-top:0 !important; }
          label                                { margin-left:1rem; margin-right:2rem; }
        }
      }
    }
  }
}



// Footer
.search-form                                   { 
  input[type=search]                           { color:$secondary_colour; border:0; background-color:transparent; border-bottom:1px solid $secondary_colour; }
  input[type=submit]                           { color:$secondary_colour; border:0; background-color:transparent; }
}


