.rebates                                       { position:relative; left:-5px;
	thead                                        {
		th                                         { height:65px; line-height:1; font-size:1.2rem; font-weight:400; color:#51564D; background-color:#B2D239; text-align:center;
			&:first-of-type                          { font-family:$font_feature,sans-serif; font-size:1.6rem; background-color:#D5E692; border-right:1px solid #FFF; text-transform:lowercase; }
			sup                                      { color:#FFF; }
		}
	}
	tbody                                        {
		tr                                         {
			th                                       { line-height:1; font-family:$font_feature,sans-serif; height:60px; font-size:1.6rem; font-weight:400; border-right:1px solid #FFF; color:#FFF; background-color:#7A7D7E; text-align:center; text-transform:lowercase; }
			td                                       { padding:0 5px 0 5%; height:60px; font-size:1.1rem; border-right:1px dashed #B2D239;
				&:last-of-type                         { border-right:0; }
				&.tick                                 { background:url(assets/images/icon_tick_half.png) no-repeat center #F8F8F8;
					&-text                               { background:url(assets/images/icon_tick_half.png) no-repeat 1% center #F8F8F8; }
				}
				&.cross                                { background:url(assets/images/icon_cross_half.png) no-repeat center #F8F8F8;
					&-text                               { background:url(assets/images/icon_cross_half.png) no-repeat 1% center #F8F8F8; }
				}
			}
			&:nth-child(2n)                          {
				th                                     { background-color:#646768; }
				td                                     { color:#FFF; background-color:#a7a9ac; }
			}
		}
	}
}
p.rebates                                      { margin-top:10px; }

@media screen and (min-width:768px)            {
	.rebates                                     { left:0;
		thead th                                   { font-size:2.2rem;
			&:first-of-type                          { font-size:3.5rem; border-right-width:5px; }
		}
		tbody                                      {
			tr                                       {
				th                                     { height:60px; font-size:3.5rem; border-right-width:5px; }
				td                                     { padding:0 5px 0 6%; font-size:1.6rem;
					&.tick                               { background-image:url(assets/images/icon_tick.png);
						&-text                             { background-image:url(assets/images/icon_tick.png); background-position:8% center; }
					}
					&.cross                              { background-image:url(assets/images/icon_cross.png);
						&-text                             { background-image:url(assets/images/icon_cross.png); background-position:8% center; }
					}
				}
			}
		}
	}
}

