/* CONTACT
*/
.contact-layout                                {
	h1                                           { margin-top:8rem; }
	.contact_details                             { margin:2rem 0 2rem; }
	.social                                      { font-size:3.7rem;
    a                                          { display:inline-block; margin:0 1rem; color:$primary_colour; text-decoration:none;
      &.p4-facebook                            { margin:0 0.5rem; }
      &:hover                                  { color:$highlight_colour; }
    	&:first-of-type                          { margin-left:0; }
    }
  }


	@media screen and (min-width:$br-mnu)        {
		h1                                         { margin:12rem 0 3rem; text-align:center; }
		.contact_details                           { margin:3rem 0 2rem; }
		.social                                    { font-size:2.6rem; }


	}
}