/* DEFAULT PAGE
*/
.default-layout                                { padding:4rem 0 2rem;
	#carouselDirty                               { border:2px solid $quaternary_colour;
		img                                        { max-width:100%; height:auto !important; }
	}
}

.panel_4                                       { padding:5rem 0; text-align:center; border-top:1px solid $tertiary_colour;
	h2                                           { margin-top:0; line-height:1; }
	.button_group                                { margin-top:3rem; text-align:center; }
	p                                            { margin-bottom:0; }

	@media screen and (min-width:$br-mnu)        { padding:7rem 0; text-align:left;
			.button_group                            { margin-top:0; text-align:right;
				.or                                    { display:inline-block; width:20rem; text-align:center; }
			}
	}
}

