/* HOME
*/
.home                                          {
	.panel_1                                       { padding:3rem 2rem; text-align:center;
		h1                                           { margin-bottom:1.5rem; }
		p                                            { line-height:1.5; }
	}

	.panel_2                                       { position:relative; width:100%; height:80rem; overflow:hidden; background-size:cover; background-attachment:fixed; background-position:center;
		.container                                   { position:absolute; top:0; right:0; bottom:0; left:0; z-index:1; }
		img                                          { @include center(); }
		.content-block                               { position:absolute; right:0; top:0; bottom:0; max-width:42rem; padding:12rem 4rem 0; color:$secondary_colour; background-color:rgba($primary_colour,0.7);
			h2                                         { margin-bottom:2rem; font-size:4.5rem; color:$secondary_colour; }
		}
		.btn                                         { margin-top:4rem; }
	}

	.panel_3                                       { position:relative; width:100%; height:80rem; overflow:hidden; background-size:cover; background-attachment:fixed; background-position:center;
		.container                                   { position:absolute; top:0; right:0; bottom:0; left:0; z-index:1; }
		img                                          { @include center(); }
		.content-block                               { position:absolute; left:0; top:0; bottom:0; max-width:42rem; padding:12rem 4rem 0; color:$secondary_colour; background-color:rgba($primary_colour,0.7);
			h2                                         { margin-bottom:2rem; font-size:4.5rem; color:$secondary_colour; }
		}
		.btn                                         { margin-top:4rem; }
	}

	@media screen and (min-width:$br-mnu)          {
		.panel_1                                     { 
			h1                                         { margin-bottom:0.5rem; }
		}
		.panel_2                                     {
			.content-block                             { right:5rem; padding-top:14rem; }
		}
		.panel_3                                     {
			.content-block                             { left:5rem; padding-top:14rem; }
		}

	}

}