// PRODUCT
//

.product-single                                { text-align:center;
	.breadcrumbs                                 { text-align:left; }
	.breadcrumbs                                 { text-align:left; }
	h1                                           { margin-top:1rem; }

	@media screen and (min-width:$br-mnu)        { padding-bottom:5rem;
		h1                                         { margin:3rem 0 3rem; text-align:center; }
		.button-group                              { margin-top:6rem;
			.btn                                     { margin-right:3rem; }
			a:last-child                             { margin-right:0; }
		}

	}
}