// PROJECTS
//

.feature-projects                              { position:relative; padding:4rem 0 5rem; color:$secondary_colour; background-size:cover; background-color:$primary_colour;
	&:before                                     { position:absolute; left:0; top:0; right:0; bottom:0; content:""; background-color:rgba($primary_colour,0.8); }
	h2                                           { position:relative; margin-bottom:3rem; color:$secondary_colour; text-align:center; z-index:1; }
	h3                                           { margin-top:1.5rem; font-size:2.6rem; }
	div.img                                      { width:100%; height:25rem; background-size:cover; border:1px solid $secondary_colour; }
	p                                            { line-height:1.5; }

	.project                                     { display:block; text-decoration:none;
		h3, p                                      { color:$secondary_colour; }
		&:hover h3, &:focus h3                     { text-decoration:underline; }
	}
}

.project-single                                { text-align:center;
	.breadcrumbs                                 { text-align:left; }
	h1                                           { margin-top:1rem; }

	@media screen and (min-width:$br-mnu)        { padding-bottom:5rem;
		h1                                         { margin:3rem 0 3rem; text-align:center; }
		.button-group                              { margin-top:6rem;
			.btn                                     { margin-right:3rem; }
			a:last-child                             { margin-right:0; }
		}

	}
}