/* SEARCH
*/
.search-layout                                 { padding-bottom:15rem;
	h1                                           { margin:12rem 0 3rem; text-align:center; }
	h2                                           { font-size:2.4rem; }
	input[type=search]                           { padding-left:1.5rem; font-size:1.6rem; color:$primary_colour; border:1px solid $primary_colour; @include borderRadius(0); }
	input[type=submit]                           { line-height:0.4rem; font-size:1.6rem; background-color:$primary_colour; }
	h3                                           { margin-top:1.5rem; font-size:2.2rem; }
	.meta                                        { font-style:italic; color:rgba($primary_colour, 0.7); }

}