/* SERVICE TYPE
*/
.service-layout                                { 
	.tag_line                                    { margin:3rem 0; line-height:1.5; font-size:2.4rem; text-transform:uppercase; }
	.service                                     { padding-top:3rem; border-top:$content_separator;
		h2                                         { display:inline-block; padding-bottom:1.2rem; border-bottom:1px solid $primary_colour; }
		p                                          { margin-bottom:4rem; 
			&.intro                                  { margin:1.2rem 0 2rem; font-weight:$semibold; }
		}
		.button-group                              {
			.btn                                     { }
		}
		img                                        { max-width:100%; height:auto !important; border:2px solid $quaternary_colour; }
		.service-bottom                            { min-height:5rem; }
	}

	@media screen and (min-width:$br-mnu)        {
		.tag_line                                  { margin:4rem 0 3rem; font-size:2rem; }
		.service                                   { 
			.button-group                            {
				.btn                                   { margin-right:3rem; }
				a:last-child                           { margin-right:0; }
			}
			.service-bottom                          { min-height:7rem; }
		}
	}
}

.service-single                                {
	h1                                           { margin-top:1rem; }
	.service-block                               {
		img                                        { margin-bottom:2rem; max-width:100%; height:auto !important; border:2px solid $quaternary_colour; }

	}

	@media screen and (min-width:$br-mnu)        { padding-bottom:5rem;
		h1                                         { margin:3rem 0 3rem; text-align:center; }
		.service-block                             {
			img                                      { margin-bottom:0; }
			.button-group                            {
				.btn                                   { margin-right:3rem; }
				a:last-child                           { margin-right:0; }
			}
		}

	}
}