/* CAROUSEL
*/
$indicator_size:                               1.5rem;
$indicator_colour:                             $white;

.carousel                                      {
	.pre-load                                    { position:absolute; left:-9999em; width:1px; height:1px; overflow:hidden; }
	.carousel-indicators                         { padding:0; }
	.carousel-inner                              {
		.carousel-item                             {
			.img                                     { background-size:cover; background-position:center; }
			.carousel-caption                        { left:0; right:0; bottom:0; padding-bottom:4rem; background-color: rgba(0,0,0,0.4);
				.btn                                   { width:90%; }
			}
		}
	}
	.indicator                                   {
		&-none li                                  { display:none; }
		&-square li                                { width:$indicator_size; height:$indicator_size; }
		&-circle li                                { width:$indicator_size; height:$indicator_size; border-radius:100%; }
		&-ring li                                  { width:$indicator_size; height:$indicator_size; border-radius:100%; border:2px solid rgba($indicator_colour,0.5); background-color:transparent;
			&.active                                 { background-color:$indicator_colour; }
		}
	}
	// Fade Slides
	&.fader                                      {
		.carousel-inner                            { 
			.carousel-item                           { position:absolute; left:0; top:0; display:block; opacity:0; transition:opacity 1s ease;
				&.active                               { opacity:1; }
			}
		}
	}
}

// Boss Aluminium
.carousel                                      {
	.carousel-inner                              {
		.carousel-item                             {
			.img                                     { opacity:0.5; }
			.carousel-caption                        { background-color:transparent; }
		}
	}
	h3                                           { text-transform:uppercase; }

	@media screen and (min-width:$br-lg)         {
		h3                                         { font-size:6rem; }
		.carousel-inner                            {
			.carousel-item                           {
				.carousel-caption                      {
					.btn                                 { width:20rem; }
				}
			}
		}
	}
}

//
// CAROUSEL PANEL
//
#carouselPanel                                 { margin-bottom:5rem; padding-bottom:4rem; border-bottom:1px solid $primary_colour;
	.carousel-control-prev                       { width:10%; text-decoration:none;
		&:before                                   { font-size:4rem; }
	}
	.carousel-control-next                       { width:10%; text-decoration:none;
		&:before                                   { font-size:4rem; }
	}

	&.control-external                           { padding-left:7%; padding-right:7%;
		.carousel-control-prev                     { width:5%; color:$primary_colour; }
		.carousel-control-next                     { width:5%; color:$primary_colour; }


	}

}















