/* CTA BUTTONS
*/
.cta-buttons                                   { color:$secondary_colour; background-color:$primary_colour; text-align:center; text-transform:uppercase; border-top:1px solid rgba($secondary_colour,0.3);
	.row                                         {
		div                                        { 
			a                                        { display:block; padding:3rem 0; color:$secondary_colour; border-bottom:1px solid rgba($secondary_colour,0.3); text-decoration:none; transition:all $transition ease;
				span                                   { position:relative; top:-0.5rem; display:inline-block; margin-right:2rem; width:5rem; height:0.1rem; }
    		&:hover, &:focus                       { color:$highlight_colour; transition:color $transition ease; }
			}
			span svg                                 { position:absolute; content:""; width:5rem; height:3.6rem; left:0; top:-1.8rem; }
		}
	}

	@media screen and (min-width:$br-mnu)        {
		.row                                       {
			div                                      {
				&:nth-of-type(2n)                      { border-left:1px solid rgba($secondary_colour,0.2); }
				a                                      { border-bottom:0; }
			}
		}
		&.sticky                                   {
			.row                                     {
				div                                    {
					a                                    { padding:1.5rem 0; transition:padding $transition ease; }
				}
			}
		}
	}
	&.sticky                                     { position:fixed; left:0; top:60px; right:0; z-index:2; }
}