/* FAQS
*/
#faqs 											{ 
	//Accordian Module
	.accordion 										{
		.card 									 		{ border-radius:0px; border:none; background-color:$transparent;
			.card-header 									{ background-color:$grey_light; 
				.btn-link 										{ border:none; background-color:$transparent; display:block; width:100%; text-align:left; padding:0; position:relative;
					&:hover,
					&:focus,
					&:active 										{ text-decoration:none; cursor:pointer; }

					&:after 										{ content:"\53"; font-family:$font_icons; right: 1%; top: 10%; position:absolute; }

					&.collapsed:after 								{ content:"\52"; font-family:$font_icons; right: 1%; top: 10%; position:absolute; }

					p 												{ margin:0; }
				}
			}
		}
	}
}