/* INSTAGRAM
*/
.instagram-layout                              { background-color:$primary_colour;
	#sb_instagram                                {
		.sb_instagram_header                       { background-color:$primary_colour; 
			a                                        { color:$secondary_colour; text-decoration:none;
				&:hover, &:focus                       { color:$highlight_colour; text-decoration:underline; }
			}
		}
		#sbi_images                                { overflow:hidden; height:98rem; }
		.sbi_photo                                 { border:2px solid $secondary_colour; }
		#sbi_load                                  { padding:3rem 0 3.5rem; background-color:$primary_colour; }
	}
	@media screen and (min-width:$br_mnu)        {
		#sb_instagram                              {
			#sbi_images                              { overflow:visible; height:auto; }
		}

	}
}