/* MODAL
*/

// Centre form if not coming from Bootstrap!
@media screen and (min-width:$br-lg)           {
	.modal-dialog-centered                       { position:absolute; left:50%; top:50%; transform:translateX(-50%) translateY(-50%) !important; }
}

.modal                                         {
	.modal-title                                 { font-weight:$semibold; text-align:center; }
	.close                                       { font-size:4rem; font-weight:$regular; }	

}