/* SBM IMAGE CAROUSEL
*/

$sbm_c_cont_height:                            45rem;
$sbm_c_height:                                 44rem;

.sbm-image-carousel                            { width:100%; overflow:hidden;
  .image-carousel-wrap                         { position:relative; }
  h2                                           { font-size:2.6rem; margin:5rem 0 7rem; }
  ul                                           { position:relative; margin:2rem 0 0; padding:0; height:$sbm_c_cont_height; list-style:none; overflow:hidden;
    li                                         { position:absolute; left:0; top:0; padding:0; z-index:2; transform:scale(0.9); @include transition(transform $transition_carousel ease);
      a                                        { position:relative; display:block; margin:0 10px; height:$sbm_c_height; color:#363636; background-size:cover; background-position:center; overflow:hidden; text-align:left; text-decoration:none; transition:all 0.3s ease;
        h3                                     { margin:1rem 0 0; padding:0 0.5rem 2rem; font-size:3rem; text-transform:uppercase; border-bottom:0.3rem solid $primary_colour; }
        div                                    { margin-top:1.5rem; height:30rem; background-size:cover; }
        button                                 { width:100%; padding:1rem 0; }

        &:hover                                { 
          div                                  { }
          button                               { color:$secondary_colour; background-color:$primary_colour; }
        }
      }
    }
  }
  .action                                      { position:absolute; top:0; bottom:0; font-size:2rem; text-shadow:0 0 3px rgba(0,0,0,0.4); z-index:10; @include transition(all $transition_carousel ease);
    &-left                                     { left:0; padding-left:4rem; background-image:none; transition:all 0.3s ease;
      &:hover                                  { cursor:pointer; @include gradient_lr(#FFFFFF, 0.4, #FFFFFF, 0); @include transition(all $transition_carousel ease); }
    }
    &-right                                    { right:0; padding-right:4rem; background-image:none; @include transition(all $transition_carousel ease);
      &:hover                                  { cursor:pointer; @include gradient_lr(#FFFFFF, 0, #FFFFFF, 0.4) @include transition(all $transition_carousel ease); }
    }
    &:before                                   { @include center(); font-size:2.6rem; }
  }
  .glyphicon                                   { top:130px; color:#333; }
  .focus                                       { transform:scale(1); }

  @media screen and (max-width:$br-mnu)        {
    .container                                 { padding:0 !important; }
    .col-sm-12                                 { padding:0 !important; }
  }
  @media screen and (min-width:$br-mnu)        { padding-bottom:4rem;
    .container                                 { padding:0.4rem !important; }
    h2                                         { padding-left:1.1rem; }
    ul                                         {
      li                                       { transform:scale(1); }
    }
  }

}


