/* BANNER
*/
.banner                                        { position:relative; background-color:$quaternary_colour; background-size:cover;
  &:before                                     { position:absolute; content:""; left:0; top:0; right:0; bottom:0; background-color:rgba($primary_colour, 0.6); }
  .container                                   { position:relative; padding-bottom:2rem;
	  h1                                         { position:relative; margin:0; padding-top:9rem; color:$secondary_colour; text-transform:uppercase; font-size:3.5rem; }
	  p                                          { position:relative; color:$secondary_colour; line-height:1.5; }
	}

	@media (min-width:$br-mnu)                   { width:100%; height:430px; overflow:hidden;
  	.container                                 { padding-bottom:0; height:430px; color:$secondary_colour; 
  		h1                                       { top:45%; padding-top:0; font-size:7.2rem; }
  		p                                        { top:50%; line-height:2; }
  	}
  }
}
