// BREADCRUMBS
//
.breadcrumbs                                   { padding:8rem 0 3rem; font-size:2.4rem;
	a                                            { font-weight:$semibold; text-decoration:none;
		&:hover, &:focus                           { text-decoration:underline; }
	}

	@media screen and (min-width:$br-mnu)        {
		.breadcrumbs                               { padding:10rem 0 0; text-align:left; }

	}

}
