/* BUTTONS
*/
.btn                                           { text-decoration:none; margin-bottom:1rem; padding:1.2rem 0; width:100%; color:$btn_default_color; font-family:$font_feature; font-weight:$regular; font-size:1.3rem; border:1px solid $btn_default_border; background-color:$btn_default_bg; @include borderRadius(0); transition:all 0.3s ease; text-transform:uppercase;
	&:hover, &:focus, &:active, &.active         { color:$btn_default_color_hv;  background-color:$btn_default_bg_hv; border-color:$btn_default_border_hv; transition:all 0.3s ease; }
	@media screen and (min-width: $br-mnu)       { margin-bottom:0; padding:0.6rem 5rem; width:20rem; font-size:1.4rem; }
}
.btn-primary                                   { color:$btn_primary_color; background-color:$btn_primary_bg; border-color:$btn_primary_border; 
	&:hover, &:focus, &:active, &.active         { color:$btn_primary_color_hv;  background-color:$btn_primary_bg_hv; border-color:$btn_primary_border_hv; }
	&-blank                                      { color:$primary_colour; background-color:transparent; border-color:transparent; }
}
.btn-secondary                                 { color:$btn_secondary_color; background-color:$btn_secondary_bg; border-color:$btn_secondary_border; 
	&:hover, &:focus, &:active, &.active         { color:$btn_secondary_color_hv;  background-color:$btn_secondary_bg_hv; border-color:$btn_secondary_border_hv; }
	&-blank                                      { color:$secondary_colour; background-color:transparent; border-color:transparent; }
}
.btn-tertiary                                  { color:$btn_tertiary_color; background-color:$btn_tertiary_bg; border-color:$btn_tertiary_border; 
	&:hover, &:focus, &:active, &.active         { color:$btn_tertiary_color_hv;  background-color:$btn_tertiary_bg_hv; border-color:$btn_tertiary_border_hv; }
	&-blank                                      { color:$tertiary_colour; background-color:transparent; border-color:transparent; }
}

.more_content                                  { position:relative; padding-top:3rem; border:0; background-color:$default_bg;
	&:before                                     { position:absolute; left:45%; top:0; color:$primary_colour; font-family:FontAwesome; content:"\f107"; font-size:2.8rem; }
	span                                         { font-family:$font_feature; font-size:2rem; }
}
.less_content                                  {
	&:before                                     { content:"\f106"; }
}