/* IMAGES (RESPONSIVE)
*/
.main                                          {
	img                                          { display:block; max-width:100%; height:auto;
  	&.alignleft                                { float:left; margin:0 20px 10px 0; }
  	&.alignright                               { float:right; margin:0 0 10px 20px; }
  	&.aligncentre                              { margin:0 auto; }
  }
}

// Make the image full width if smaller than the screen.
// Mainly adjusted through JS.
.img-full                                      {
	.img-full-80                                 { min-height:80rem; }

}
.img-extend                                    { width:100%; height:auto; }

.place_holder                                  { position:absolute; left:0; top:0; width:1000px; height:1000px; overflow:hidden; border:1px solid red;}