/* NAVIGATION
*/
.cover                                         { position:fixed; left:0; right:9999em; top:0; bottom:0; opacity:0; background-color:rgba(darken($primary_colour,20),0.8); z-index:1020; }
.menu-open                                     { overflow:hidden; }
.navbar                                        { padding:0; text-align:left;
  // Brand
  .navbar-brand                                { padding:1rem 0; color:$secondary_colour;
    .sbm0                                      { fill:$secondary_colour; transition:all $transition ease; }
    &:hover .sbm0, &:focus .sbm0               { fill:$secondary_colour; transition:all $transition ease; }
    svg                                        { width:83px; height:40px; }
  }

  // Hamburger Menu
  #navbar-toggle                               { position:relative; right:1rem; top:0; width:22px; height:22px; @include rotate(0deg); @include transition(.5s ease-in-out); cursor:pointer; z-index:22;
    span                                       { display:block; position:absolute; left:0; width:100%; height:2px; background:$burger_colour; border-radius:9px; opacity:1; @include rotate(0deg); @include transition(.25s ease-in-out);
      &:nth-child(1)                           { top:0px; }
      &:nth-child(2)                           { top:8px; }
      &:nth-child(3)                           { top:16px; }
    }
    &.open span                                { 
      &:nth-child(1)                           { top:8px; @include rotate(135deg); }
      &:nth-child(2)                           { opacity:0; left:-60px; }
      &:nth-child(3)                           { top:8px; @include rotate(-135deg); }
    }
    &:hover span, &:focus span                 { background:$highlight_colour; }
  }

  .navbar-toggler                             { position:absolute; right:0; z-index:9090; }

  // Navigation Elements
  .navbar-nav                                 { margin:0; padding:0; width:100%; 

    .nav-item                                 { background-color:$primary_colour; margin: 0 0.5rem; min-width: 120px; text-align: center; line-height: 1; 
      &.active                                { background-color:$black;
        a                                     { color:$white; }
      }

      a                                       { color:$black; padding:1rem; text-decoration:none; display:inline-block;
        &:hover, &:active, &:focus            { text-decoration:none; }
      }
    }
  }
 

  // Search Bar
  #header_search                              { display:none; }


  

  @media screen and (min-width:$br-xl)         {
    // Navigation Elements
    .navbar-nav                                { 
      // Primary Level
      > .nav-item                             {
        &:last-of-type a:after                 { display:inline-block; }
      }
    }
  }
}

.footer-nav                                    { margin:0; padding:0; list-style:none;
  li                                           { margin:1.5rem 0;
    a                                          { position:relative; color:$secondary_colour; text-decoration:none; text-transform:uppercase;
      &:hover, &:focus                         { color:$highlight_colour; }
    }
  }

  @media screen and (min-width:$br-lg)         {
    li                                         { margin:0; }

  }

}

