@media screen and (min-width:$br-mnu)       {
    // Navigation Elements
    .navbar-collapse                          { position:absolute; right:0; top:0; margin-top:auto; padding-top:7rem; width:0; min-height:100vh; background-color:rgba(0,0,0,0.8); @include transition(all $transition ease);
      &.show                                  { width:20rem; }
      li                                      { padding-left:2rem;
        a                                     { padding-left:1rem; border-left:1px solid transparent; }
        &.active a                            { color:$secondary_colour; border-left-color:rgba($secondary_colour,0.6); }
      }
      // Primary Level
      > .menu-item                            { margin-right:0.1rem;
        a                                     { position:relative; border-bottom:0;
          &:after                             { content:"|"; position:absolute; right:-0.2rem; top:-0.1rem; color:$secondary_colour; }
        }
        &:last-of-type                        { 
          a:after                             { display:none; }
        }
      }
    }
  }
.navbar-collapse                          { margin-top:auto; padding-bottom:2rem;

ul                                        { margin:0; padding:0; }
li                                        { list-style:none;
  a                                       { display:block; padding:0.7rem 0 0.7rem 5rem; font-size:1.4rem; color:rgba($secondary_colour,0.63); font-weight:$semibold; text-decoration:none; border-bottom:1px solid rgba($primary_colour,0.4); text-transform:uppercase;
    &:hover, &:focus                      { color:$secondary_colour; background-color:rgba($primary_colour,0.3); }
  }
}
// Primary Level
> .menu-item                              { 
  // Primary Active
  &.active                                { font-weight:$bold; 
    a                                     { color:$secondary_colour;
      &:hover, &:focus                    { color:$secondary_colour; }
    }
  }
  > a                                     { padding:0 1.7rem; line-height:40px; }
  // Secondary Level
  > .sub-menu                             { background-color:rgba($tertiary_colour,0.3);
    > .menu-item                          { border-top:1px solid rgba($tertiary_colour,0.5);
      > a                                 { display:block; padding-left:3rem; line-height:40px; }
    }
  }
}
}