/* NAVIGATION - DESKTOP
*/
.primary-header                                {
  .header-wrap                                 { background-color:rgba(255,255,255,0.7); box-shadow:0 1px 4px rgba(0,0,0,0.1);
    .container                                 { position:relative; min-height:12rem; }
  }
  .logo                                        { margin: 0.8rem 0 0.5rem; transition:all 0.2s ease;
    img                                        { max-width:100%; max-height:10rem; transition:all 0.2s ease; }
  }
  .quickcontact                                { background-color:$primary_colour; 
    ul                                         { margin:0; padding:0.5rem 0; list-style-type:none; font-weight:400; text-align:right;
      li                                       { display:inline-block; font-size:1.2rem; color:#FFF;
        i                                      { color:#FFF; }
        a                                      { color:#FFF; text-decoration:none;
          &.sbm-icon i                         { color:#FFF; }
        }
      }
    }
  }
  .doctor_link                                 { position:absolute; display:block; right:35px; bottom:-45px; padding:4px 15px 0; height:45px; font-family:$font_feature; font-size:2.2rem; color:$default_text; background-color:$default_bg; border-radius:0 0 7px 7px; text-transform:lowercase; text-decoration:none; box-shadow:0px 3px 4px rgba(0,0,0,0.2); 
    span                                       { padding:5px 5px; border-bottom:1px solid $primary_colour; }
  }
  .drop-shadow                                 {
    img                                        { margin:0 auto; }
  }
}
.primary-nav                                   { float:right; margin-top:1.5rem; margin-bottom:0;
  .nav                                         { display:inline-block; padding:0;
    > li                                       { display:inline-block;
      a                                        { padding:10px 15px; color:#333; text-decoration:none;
        &:hover                                { text-decoration:none; }
      }
    }
    ul.sub-menu                                { display:none; position:absolute; top:100%; left:0; padding:0; margin:0; list-style:none; box-shadow:0px 2px 3px rgba(0,0,0,0.4);
      li                                       { position:relative; float:left; width:250px; background:#eee; border-top:1px solid #fff; list-style-image:none;
        a                                      { display:block; padding:5px 10px; background:transparent; color:#666;
          &:hover                              { background:#666; color:#FFF; }
        }
      }
    }
    li:hover > ul.sub-menu                     { display:block; }
  }
}


/* NAVIGATION - DESKTOP MODS
*/
.primary-header                                {
  .logo                                        { margin: 2.5rem 0 0.5rem; }
  .header-wrap                                 { background-color:rgba(255,255,255,1); }
}
.primary-nav                                   { margin-top:2rem;
  .nav > li                                    {
    a                                          { padding:20px 10px; font-size:1.4rem; color:$default_text; text-decoration:none; text-transform:uppercase; border-bottom:2px solid transparent; }
    &.current-menu-item a                      { color:#333; border-bottom:2px solid $primary_colour; }
    a:hover                                    { color:#333; border-bottom-color:#CCC; background-color:transparent; }
    &:last-of-type a                           { padding:10px; border:2px solid $primary_colour; background-color:#FFF; transition:all 0.3s ease;
      &:hover                                  { color:#FFF; background-color:$primary_colour; transition:all 0.3s ease; }
    }
  }
}

@media screen and (min-width:1200px) {
  .primary-nav                                   { 
    .nav > li                                    {
      a                                          { padding:20px 15px; font-size:1.6rem; }
      &:last-of-type a                           { padding:10px 15px; }
    }
  }
}