// TRIGGER
//
.test-placement                                { position:absolute; left:30rem; top:10rem; z-index:10;
	a.trigger                                    { display:block; width:2rem; height:2rem; background-color:$primary_colour; @include borderRadius(50%); overflow:hidden; @include transition(all $transition ease);
		&:before                                   { position:absolute; content:""; left:47%; top:30%; width:0.2rem; height:40%; background-color:$secondary_colour; }
		span                                       {
			&:before                                 { position:absolute; content:""; left:30%; top:47%; width:20%; height:0.2rem; background-color:$secondary_colour; @include transition(all $transition ease); }
			&:after                                  { position:absolute; content:""; left:50%; top:47%; width:20%; height:0.2rem; background-color:$secondary_colour; @include transition(all $transition ease); }
		}
	}

	@media screen and (min-width:$br-sm)         {
		a.trigger                                  { width:2.6rem; height:2.6rem; }
	}



	@media screen and (min-width:$br-lg)         {
		a.trigger                                  { width:3.2rem; height:3.2rem; 
			// &:before                                 { left:46%; }
			// span                                     {
			// 	&:before                               { top:46%; }
			// 	&:after                                { top:46%; }
			// }
			&:hover, &:focus                           { 
				span                                     {
					&:before                               { top:53%; @include rotate(45deg); @include transition(all $transition ease); }
					&:after                                { top:53%; @include rotate(-45deg); @include transition(all $transition ease); }
				}
			}
		}
	}


	@media screen and (min-width:$br-xl)         {
		a.trigger                                  { width:4rem; height:4rem; 
			// &:before                                 { left:1.9rem; }
			span                                     {
				&:before                               { width:1rem; }
				&:after                                { width:1rem; }
			}
			// &:hover, &:focus                         { 
			// 	span                                   {
			// 		&:before                             { top:2.3rem; }
			// 		&:after                              { top:2.3rem; }
			// 	}
			// }

		}
	}


}